<ul>
<% @all_screens.each do |screen| %>
<p>
  <li><%= screen.digit_sequence %></li>
  <li><%= screen.transcription_text %></li>
  <li>
    <audio controls>
    <source src="<%= screen.recording_url + ".mp3" %>" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </li>
  <li><%= screen.next_screen_options %></li>
</p>
<% end %>
</ul>
