<form action="/ivr" method="POST">
Phone number:<br>
<input type="text" name="phone_number">
<br>
Digit sequence:<br>
<input type="text" name="digit_sequence">
<br><br>
<input type="submit" value="Submit">
</form>
